/* import da font */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Mooli&family=Open+Sans:wght@300;400;500;700;800&display=swap');

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {

    /* tipografia */
    --font: 'Open Sans', sans-serif;
    --font-alternativa: 'Caveat';

    /* cores */
    --bg: #F2F2F2;
    --cor-font: #0D0D0D;
    --cinza: #4D5359;
    --cinza-claro: #A6A6A6;
    --cinza-escuro: #222426;
    --amarelo: rgb(235, 119, 36);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    background: var(--cor-font);
    background: linear-gradient(170deg, hsl(0, 0%, 22%) 0%, hsl(0, 0%, 6%) 30%);
}

/* classes reusaveis */
.container {
    max-width: 1300px;
    padding: 3em;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* header nav */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 999;
    transition: 4.s;
}

.nav {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
    color: #fff;
    align-items: center;
    gap: 0.25rem;
    font-weight: 500;
    transition: .4s;
}

.logo i {
    font-size: 1.3rem;
}

.logo:hover {
    color: var(--cinza-claro);
}

.lista-header {
    display: flex;
    gap: 1.5rem;
}

.lista-header a {
    color: var(--cinza-claro);
    transition: .4s;
}

.lista-header a:hover {
    color: var(--cinza);
}

.btn-menu {
    display: none;
}

.btn-menu i {
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}

/*=============== HOME ===============*/
.home {
    padding-bottom: 0;
    height: 92vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}

.home-container {
    display: flex;
}

.home-text {
    position: relative;
    margin-top: 5rem;
    color: #fff;
}

.home-text h1 {

    font-size: 64px;
    line-height: 120%;
    margin-bottom: 1.25rem;
    width: 80%;
}

.home-text p {
    font-size: 16px;
    color: var(--cinza-claro);
    margin-bottom: 1.25rem;
}

.home-number {
    display: flex;
    justify-content: space-between;
}

.home-number h1 {
    font-size: 36px;
}

.home-number span {
    color: var(--amarelo);
}

.home-number .desciption {
    color: #fff;
    font-family: var(--font-alternativa);
    font-size: 1.2rem;
}

.casa {
    background-color: #fff;
}